#canvasElement {
	border: 2px solid black;
	margin: 0 auto;
	display: block;
}

html {
	padding-top: 30px;
}

#dump-file-name {
	min-width: 330px;
}

#configuration {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	outline: 2px solid black;
	background: rgba(255, 255, 255, 0.7);
}

@font-face {
	/* Using a custom font to ensure that EXACTLY the same font is used across the clients. */
	font-family: 'CustomRoboto', sans-serif;
	/* src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'); */
	src: url('/fonts/Roboto-Regular.woff2') format('woff2');
	font-display: block; /* Causes the text be invisible until the custom font loads */
}

@font-face {
	/* Using a custom font to ensure that EXACTLY the same font is used across the clients. */
	font-family: 'CustomSnippet', sans-serif;
	src: url('/fonts/Snippet-Regular.woff2') format('woff2');
	font-display: block; /* Causes the text be invisible until the custom font loads */
}

@font-face {
	/* @todo: for some reason div#canvas would not pick 'CustomSnippet' used for canvas. */
	font-family: 'DomCustomSnippet';
	src: url('https://mlewand.github.io/canvas-text-rendering-comparison/fonts/Snippet-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400; /* Normal weight */
}

div#canvasElement {
	font-family: 'DomCustomSnippet', serif;
	font-size: 14px;

	font-size: 14px; /* Set to 14px */
	font-style: normal;
	font-weight: 400; /* Normal weight */
	line-height: 1.6; /* Adjust as needed */
	letter-spacing: normal; /* Adjust as needed */
	text-align: justify; /* or left, right, center */
	word-wrap: break-word;
	word-break: normal;
	-webkit-font-smoothing: antialiased; /* For Webkit browsers */
	-moz-osx-font-smoothing: grayscale; /* For Firefox on Mac OS */
	text-rendering: optimizeSpeed; /* Will disable kerning & ligatures for more consistent layout */
}
